@use 'sass:math';

html {
  @extend %background-gradient;
  color: $black;
  font-family: $font-Circe;
  font-size: math.div(16, 720) * 100vh;
  min-height: 100%;
  line-height: 1.8;
}

@media screen and (max-aspect-ratio: 1440/720) {
  html {
    font-size: math.div(16, 1440) * 100vw;
  }
}

@media only screen and (min-width: 1440px) and (max-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-height: 720px) and (min-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

html {
  @include ifmobile {
    font-size: math.div(16, 375) * 100vw;
  }
}

body {
  min-height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
