@font-face {
  font-family: 'DrukWideCy';
  src: url('../fonts/DrukWideCy-Regular.woff2') format('woff2'),
    url('../fonts/DrukWideCy-Regular.woff') format('woff'),
    url('../fonts/DrukWideCy-Regular.svg') format('svg');
  font-weight: normal;
  font-display: swap;
}
