@use 'sass:math';
@function em($size, $base: 15px) {
  // $remSize: $size / $base;
  $remSize: math.div($size, $base);
  @return $remSize * 1em;
}

@function res($f-min, $f-max, $v-min: 320, $v-max: 1280) {
  $k: math.div(($f-max - $f-min), ($v-max - $v-min));
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}
