$green: #004236;
$beige: #F8F3E8;
$light_beige: #FDFBF8;
$white: #FFFFFF;
$red: #DB4546;
$pink: #EF8194;
$peach: #F3977F;
$orange: #F8BB46;
$yellow: #FFED76;
$turquoise: #53998C;
$blue: #60B0BB;
$black: #004236;

$speed: 0.1s;

$tab-width: 67px;
$header-height: 82px;

$font-DrukWideCy: 'DrukWideCy', sans-serif;