$green: #004236;
$light_beige: #fdfbf8;
$white: #ffffff;
$red: #db4546;
$pink: #ef8194;
$peach: #f3977f;
$orange: #f8bb46;
$yellow: #ffed76;
$turquoise: #53998c;
$blue: #60b0bb;
$black: #000;
$grey: #a0a0a0;
$light_grey: #f8f8f8;
$purple: #5c26c8;
$beige: #efe1bd;
$cian: #f1f7ff;
$light-brown: #aa9868;

$speed: 0.1s;

$navbar-width: 300px;
$navbar-height: 100px;

$font-Circe: 'Circe', sans-serif;
