.navbar {
  display: grid;
  justify-items: center;
  align-items: center;
  width: em($navbar-width);
  height: 100vh;
  position: fixed;
  z-index: 1000;
  @extend %background-gradient;

  @include ifmobile {
    width: 100%;
    height: em($navbar-height);
  }

  &__header {
    align-self: end;
    @include ifmobile {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: em(100px);
      align-items: center;
      padding-right: em(20px);
      padding-left: em(20px);
    }
  }

  &__logo {
    width: em(50px);
    height: em(50px);
    position: relative;
    left: em(-30px);
    margin-bottom: 30px;
    @include ifmobile {
      width: em(50px);
      height: em(50px);
      margin-bottom: 0px;
      left: em(0px);
    }
  }

  &__burger {
    display: none;
    width: em(30px);
    height: em(30px);
    justify-self: end;
    @include ifmobile {
      display: block;
    }
  }

  &__nav {
    align-self: start;
    // width: em(160px);
    @include ifmobile {
      display: none;
    }
  }
}
