.BaseContainer {
  display: block;
  min-height: 100%;
  padding: em(80px);
  @include ifmobile {
    padding: em(25px);
    padding-top: em($navbar-height + 25px);
  }
}

.ContentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
